.column {
    flex: 30%;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    margin-left: 2em;
    margin-right: 2em;
  }
  img {
    width: 100%;
  }
  .row {
     display: flex;
  }